node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

\.vscode/*
package-lock\.json

android/app/build/**/*

android/\.gradle/

android/\.idea/

android/keystores/
ios/build
ios/Pods
Podfile.lock
local.properties
